<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foods</title>
  </head>
  <body>
    <h1>Welcome {{name}}</h1>
    {% if foods %} 
        <h3>Total foods = {{foods | length}}</h3>
        <table border="4" cellpadding="6">
            <thead>
                <tr>
                <th>Name</th>
                <th>Price</th>
                </tr>
            </thead>

            <tbody>
                {% for food in foods %}
                <tr>
                    <td>{{ food.name }}</td>
                    <td>{{ food.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No food to display</p>
    {% endif %}
  </body>
</html>
